{{#if isSecondary}}
  <ul class="menu-list">
    {{#foreach navigation}}
      <li><a class="navbar-item nav-{{slug}}{{#if current}} nav-current{{/if}}" href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
    <!-- End the loop -->
  </ul>
{{else}}
  <div class="navbar-end">
      <!-- Loop through the navigation items -->
      {{#foreach navigation}}
      <a class="navbar-item nav-{{slug}}{{#if current}} nav-current{{/if}}" href="{{url absolute="true"}}">{{label}}</a>
      {{/foreach}}
      <!-- End the loop -->
  </div>
{{/if}}
