<article class="container post-single {{post_class}}{{#if feature_image}} with-feature-image{{/if}} p-2">
    <header>


        {{> post/feature-image}}


    </header>
    <div class="columns">
      <aside class="column is-one-quarter menu" id="secondary-menu">
        {{navigation type="secondary"}}
      </aside>
      <div class="column is-two-thirds">

        <section>

              {{> post/title}}

              {{> post/tags-primary}}

              {{> post/reading-time}}

              {{#is "home"}}
                  {{> post/excerpt}}
              {{else}}
                  {{> post/content}}
              {{/is}}


        </section>

        <footer>
            {{> post/tags-all}}

            {{> post/authors}}

            {{> post/related-posts}}

        </footer>
      </div>
    </div>
</article>
