<div class="tm-container-flex">
  {{#foreach posts limit="7"}}
    {{#if @first}}
      {{> post/post-primary}}
    {{else}}
      {{> post/post-grid}}
    {{/if}}
  {{/foreach}}
</div>
{{^is "home"}}
  <div class="p-2">
    {{pagination}}
  </div>
{{/is}}
