{{!--
	An author template for the author archive pages. Read more about it in https://themes.ghost.org/docs/templates
--}}

{{!< default}}

{{#author}}
	<div class="author-page-data">
		{{#if cover_image}}
			<div>
				<img src="{{cover_image}}" alt="{{name}}" />
			</div>
		{{/if}}
		<p class="py-2">You're looking at all the posts published by: </p>
	</div>

	{{> post/single-author}}
{{/author}}

{{> "posts-loop"}}
