{{!--
    This is the default layout, or base template which contains all the boring bits of HTML that have to appear on every page. Read more about it in https://themes.ghost.org/docs/templates
--}}
<!DOCTYPE html>
<html lang="{{@site.lang}}">
    {{> core/head}}

    <body class="{{body_class}}">
        <div class="wrapper">
          {{#is "home"}}
              {{> core/home-header}}
          {{else}}
              {{> core/header}}
          {{/is}}


            {{!-- All the main content gets inserted here, index.hbs, post.hbs, etcetera. --}}
            <main class="main container is-widescreen">
                {{{body}}}
            </main>

            {{> core/footer}}
        </div>

        {{> core/foot}}
    </body>
</html>
