{{!--
    This is the standard template for a list of posts. It is used by default for the home page and subsequent pages of blog posts. Read more about it in https://themes.ghost.org/docs/templates
--}}

{{!< default}}

  {{> "posts-loop"}}
