{{!--
	A tag template for the tag archive pages. Read more about it in https://themes.ghost.org/docs/templates
--}}

{{!< default}}

{{#tag}}
	<div class="tag-page-data container">
		{{#if feature_image}}
			<div>
				<img src="{{feature_image}}" alt="{{name}}" />
			</div>
		{{/if}}
		<p class="py-2">You're looking at all the posts published under the tag: <span>"{{name}}"</span>.</p>
	</div>
{{/tag}}

{{> "posts-loop"}}
