h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: $family-heading;
}

.main {
  padding: 20px;
  @media (max-width:1024px) {
    padding: 10px;
  }
}

p {
  padding: 10px !important;
}

// Helpers
.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.px-1 {
  padding: 0 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.px-2 {
  padding: 0 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.ovf-hidden {
  overflow:hidden;
}

.tm-float-right {
  float:right;
}

.tm-width-12 {
  min-width: 12rem;
}

// nav

.header-logo {
  height: 50px;
  padding-top: 8px;
}

.logo {
  height: 60px;
}

.tm-reg-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// Post Loop

.tm-container-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 80px 10px 10px 10px;
}

.tm-primary-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  @media (min-width:1024px) {
    flex-direction: row;
  }
}

.tm-primary-section {
  width: 50%;
  padding: 10px;
  @media (max-width:1024px) {
    width: 100%;
  }
}

.tm-grid-section {
  width: 33%;
  padding: 10px;

  @media (min-width:769px) and (max-width:1023px) {
    width: 50%;
  }
  @media(max-width:768px) {
    width: 100%;
  }
}

.tm-primary-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.tm-primary-content {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 15px;
}

.tm-related-posts {
  padding: 40px 20px;
  border-top: 1px solid #252525;
  border-bottom: 1px solid #252525;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  @media(max-width:768px) {
    flex-direction: column;
  }
}

.tm-related-separator {
  border-right: 1px solid #252525;
  @media(max-width:768px) {
    border-right: none;
    border-top: 1px solid #252525;
  }
}

.tm-related-section {
  width: 45%;
  padding: 10px;
  @media(max-width:768px) {
    width: 100%;
  }
  display: flex;
  flex-direction: column;
}

#secondary-menu {
  padding-top: 80px;
  @media (max-width:1024px) {
    display: none;
  }
}



/* 7.6. Koenig Styles
/* ---------------------------------------------------------- */

.post-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 920px;
}

.post-template .post-content > p:first-child {
    font-size: 1.25em;
    line-height: 1.5em;
}

.post-full-content .kg-image {
    max-width: 100%;
}

/* Preventing full-width image overlap with post image.  */
.post-full-image + .post-full-content .kg-content *:first-child .kg-image {
    width: 100%;
}

.post-full-content .kg-width-wide .kg-image {
    max-width: 1040px;
}

.post-full-content .kg-width-full .kg-image {
    max-width: 100%;
}

.post-full-content figure {
    margin: 1.5em 0 3em;
}

.post-full-content figure img {
    margin: 0;
}

.post-full-content figcaption {
    margin: 1.0em 0 0;
    font-size: 80%;
    line-height: 1.6em;
    text-align: center;
}

.kg-width-full figcaption {
    padding: 0 1.5em;
}

.kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.kg-embed-card .fluid-width-video-wrapper {
    margin: 0;
}


@media (max-width: 1040px) {
    .post-full-content .kg-width-full .kg-image {
        width: 100%;
    }
}

.kg-gallery-container {
    display: flex;
    flex-direction: column;
    max-width: 1040px;
    width: 100%;
    padding: 15px 0;
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
}

.kg-gallery-card + .kg-image-card.kg-width-wide,
.kg-gallery-card + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-image-card.kg-width-wide {
    margin: -2.25em 0 3em;
}

/* keep existing <pre> styles for code cards with captions */
.kg-code-card {
    min-width: 100%;
}

.kg-code-card pre {
    margin: 0;
}
