@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Inconsolata|IBM+Plex+Mono&display=swap');


$pink: #FF0EFF;
$purple: #823899;
$bkg: black;
$grey-light: #EDEDED;
$grey-dark: #3B3B3B;





$primary: $pink;
$secondary: $purple;
$link: $pink;
$dark: $grey-dark;
$text: $grey-light;

$background: $bkg;
$body-background-color: $bkg;
$family-primary: 'Inconsolata', monospace;
$family-heading: 'IBM Plex Mono', sans-serif;


$body-background-color: $bkg;
$background: $bkg;
$footer-background-color: $bkg;

$border: $grey-dark;

$title-color: $grey-light;
$subtitle-color: $grey-light;
$subtitle-strong-color: $grey-light;

$text: $grey-light;
$text-light: lighten($text, 10);
$text-strong: darken($text, 5);

$box-color: $text;
$box-background-color: $bkg;
$box-shadow: none;

$link-hover: darken($link, 10);
$link-focus: lighten($link, 10);
$link-active: lighten($link, 10);
$link-hover-border: $bkg;
$link-active-border: $bkg;

$button-color: $text;
$button-background-color: #111;
$button-border-color: $bkg;
$button-hover-color: lighten($text, 10);
$button-focus: $bkg;
$button-active-color: lighten($text, 10);


$pagination-border-color: $bkg;
$pagination-disabled: $grey-light;
$pagination-disabled-background-color: $bkg;

$dropdown-content-background-color: $background;
$dropdown-item-color: $text;

$navbar-background-color: $body-background-color;
$navbar-item-color: $grey-light;
$navbar-item-hover-color: $link;
$navbar-item-hover-background-color: lighten($bkg, 2);
$navbar-item-active-color: $link;
$navbar-item-active-background-color: $navbar-item-hover-background-color;

$navbar-dropdown-background-color: $body-background-color;
$navbar-dropdown-item-hover-color: $link;
$navbar-dropdown-item-hover-background-color: $navbar-item-hover-background-color;
$navbar-dropdown-item-active-background-color: $navbar-item-hover-background-color;
$navbar-dropdown-arrow: $grey-light;

$tabs-boxed-link-active-background-color: $body-background-color;



@import "base";
@import "../../node_modules/bulma/bulma.sass";
@import "ghost";
