<footer class="footer container">
    {{#if @labs.subscribers}}
        <section class="footer-subscribe">
            <h4>Subscribe to {{@site.title}}</h4>
            <p>Get the latest posts delivered right to your inbox</p>

            {{subscribe_form placeholder="youremail@example.com"}}
        </section>
    {{/if}}



    <section class="footer-copyright is-pulled-right">
        <a href="{{@site.url}}" title="{{@site.title}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}
    </section>


</footer>
