<header class="header is-transparent p-2">
  <div class="container tm-reg-nav">
    {{#if @site.logo}}
        <div class="blog-logo navbar-brand">
                <a href="{{@site.url}}" title="{{@site.title}}">
                    <img alt="{{@site.title}}" src="{{@site.logo}}" class="header-logo" />
                </a>
        </div>
    {{/if}}




    <div class="dropdown is-hoverable is-hidden-desktop">
      <div class="dropdown-trigger navbar-end tm-width-12">
        <button class="button tm-float-right" aria-haspopup="true" aria-controls="dropdown-menu6">
          <span class="has-text-weight-bold ">Menu</span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu6" role="menu">
        <div class="dropdown-content">
          {{navigation}}
        </div>
      </div>
    </div>
    <nav class="is-hidden-touch navbar-menu">
      <div class="navbar-end">
        {{navigation}}
      </div>
    </nav>
  </div>
</header>
