<section class="hero is-bold is-fullheight is-medium-mobile"  style="background-image:url('{{@site.cover_image}}'); background-repeat: none; background-position: center; background-size:cover">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container navbar-end">

        <div>
          <div class="dropdown is-pulled-right is-right is-hoverable is-hidden-desktop">
            <div class="dropdown-trigger">
              <div aria-haspopup="true" aria-controls="dropdown-menu6" class="p-1">
                <span>Menu</span>
              </div>
            </div>
            <div class="dropdown-menu" id="dropdown-menu6" role="menu">
              <div class="dropdown-content">
                {{navigation}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">

    <div class="container has-text-centered">
      <h1 >
        <img src="{{@site.logo}}" class="logo"/>
      </h1>
      <h2 class="subtitle has-text-white">
        {{@site.description}}
      </h2>
    </div>
  </div>

  <div class="hero-foot">
    <div class="container">
      <nav class="is-hidden-touch navbar-menu">
        {{navigation}}
      </nav>
    </div>
  </div>
</section>
