<section class="tm-primary-container">
  <div class="tm-primary-section">
    {{> post/feature-image}}
  </div>
  <div class="tm-primary-section tm-primary-text">
    <div class="tm-primary-content ">

          {{> post/title}}

          {{> post/primary-meta}}

          {{> post/excerpt}}



    </div>
  </div>
</section>
