<div class="tm-related-posts">
  <div class="tm-related-section">
    {{#prev_post in="primary_tag"}}
      <img src="{{feature_image}}" />
      <a href="{{url}}">{{title}}</a>
    {{/prev_post}}
  </div>
  <div class="tm-related-separator"></div>
  <div class="tm-related-section">
    {{#next_post in="primary_tag"}}
      <img src="{{feature_image}}" />
      <a href="{{url}}">{{title}}</a>
    {{/next_post}}
  </div>
</div>
