<article class="media py-2">

    {{#if profile_image}}
    <figure class="media-left">
      <p class="image is-64x64 ovf-hidden">
        <img src="{{profile_image}}" alt="{{name}}">
      </p>
    </figure>
    {{/if}}
    <div class="media-content">
      <div class="content">
        <div class="author-name">
            {{name}}
        </div>
        {{#if bio}}
            <div class="author-bio">
                <p>{{bio}}</p>
            </div>
        {{/if}}

      </div>

    </div>

</article>
