<div class="post-title py-1">
    {{#is "post, page"}}
        <h1 class="post-title is-size-3">{{title}}</h1>
    {{else}}
        <h2 class="post-title is-size-4">
            <a href="{{url}}" title="{{title}}">{{title}}</a>
        </h2>
    {{/is}}
</div>
